<h1>Training 01</h1>
<p>Apprentissage d'Angular avec des exercises varier</p>

<section>
  <!-- Exercice n°1 -->
  <app-exo1></app-exo1>

  <!-- Exercice n°2 -->
  <app-exo2></app-exo2>
  
  <!-- Exercice n°3 -->
  <app-exo3></app-exo3>

  <!-- Exercice n°4 -->
  <app-exo4></app-exo4>

  <!-- Exercice n°5 -->
  <app-exo5></app-exo5>

  <!-- Exercice n°6 -->
  <app-exo6></app-exo6>

  <!-- Exercice n°7 -->
  <app-exo7></app-exo7>

  <!-- Exercice n°8 -->
  <app-exo8></app-exo8>

  <!-- Exercice n°9 -->
  <app-exo9></app-exo9>

  <!-- Exercice n°10 -->
  <app-exo10></app-exo10>

  <!-- Exercice n°11 -->
  <article>
    <h2>Exercice N°11</h2>
    <p>Description de l'exercice n°11</p>
  </article>

  <!-- Exercice n°12 -->
  <article>
    <h2>Exercice N°12</h2>
    <p>Description de l'exercice n°12</p>
  </article>

  <!-- Exercice n°13 -->
  <article>
    <h2>Exercice N°13</h2>
    <p>Description de l'exercice n°13</p>
  </article>

  <!-- Exercice n°14 -->
  <article>
    <h2>Exercice N°14</h2>
    <p>Description de l'exercice n°14</p>
  </article>

  <!-- Exercice n°15 -->
  <article>
    <h2>Exercice N°15</h2>
    <p>Description de l'exercice n°15</p>
  </article>

  <!-- Exercice n°16 -->
  <article>
    <h2>Exercice N°16</h2>
    <p>Description de l'exercice n°16</p>
  </article>

  <!-- Exercice n°17 -->
  <article>
    <h2>Exercice N°17</h2>
    <p>Description de l'exercice n°17</p>
  </article>

  <!-- Exercice n°18 -->
  <article>
    <h2>Exercice N°18</h2>
    <p>Description de l'exercice n°18</p>
  </article>

  <!-- Exercice n°19 -->
  <article>
    <h2>Exercice N°19</h2>
    <p>Description de l'exercice n°19</p>
  </article>

  <!-- Exercice n°20 -->
  <article>
    <h2>Exercice N°20</h2>
    <p>Description de l'exercice n°20</p>    
  </article>
</section>